<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="./local-file-logger.xml"/>

    <springProfile name="local">
        <logger name="com.woowacourse.pickgit" level="DEBUG">
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.springframework" level="DEBUG">
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.hibernate.SQL" level="DEBUG"> //SQL 로그
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG"> //DDL 로그
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.hibernate.type" level="TRACE"> ////질의에 바인딩되는 파라미터 및 질의 결과 등 다양한 로그
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN">
            <appender-ref ref="local-file-logger"/>
        </logger>
    </springProfile>
</configuration>